{% extends 'layouts/base.html' %}

{% block content %}

	<div class="container">
		<div class="row justify-content-center">	

			<div class="col-md-6 mt-3">
				
				<div class="card bg-light">
					<div class="card-header">
						<h3 class="card-title">{{ _('Changer de mot de passe') }}</h3>
					</div>
					<div class="card-body">
						{% include 'layouts/partials/_errors.html' %}

						<form  data-parsley-validate method="post" novalidate autocomplete="off">
							{{ form.hidden_tag() }}
								
							<div class="form-group">
								<label for="current_password">{{ _('Mot de passe actuel') }}<span class="text-danger">*</span></label>
								{{ form.current_password(class='form-control', **{'data-parsley-minlength': '6'}) }}
							</div>						
						
							<div class="form-group">
								<label for="new_password">{{ _('Nouveau mot de passe') }}<span class="text-danger">*</span></label>
								{{ form.new_password(class='form-control', **{'data-parsley-minlength': '6'}) }}
							</div>
												
							<div class="form-group">
								<label for="new_password_confirmation">{{ _('Confirmer votre nouveau mot de passe') }}<span class="text-danger">*</span></label>
								{{ form.new_password_confirmation(class='form-control', **{'data-parsley-equalto': '#new_password'}) }}
							</div>
															
							<input type="submit" name="update" class="btn btn-outline-primary mt-2" value="{{ _('Valider') }}">
						</form>
					</div>
				</div>

			</div>			

		</div>

	</div>

{% endblock %}

{% block custom_script %}

  {# Parsley Js #}
    <script src="{{ url_for('static', filename='libraries/parsley/parsley.min.js') }}"></script>
    <script src="{{ url_for('static', filename='libraries/parsley/i18n/' ~ g.locale ~ '.js') }}"></script>

{% endblock %}