<a href="{{ url_for('users.profile', id=notification.user_id) }}">
	<img alt="image de profil de {{ notification.user.pseudo }}"
         class="rounded-circle avatar-xs"
         src="
		        {% if notification.profile_img %}
		          {{ url_for('static', filename='img/users/profile_pics/' ~ notification.user_id ~ '/' ~ notification.user.profile_img) }}
		        {% else %}
		            {{ notification.user.set_avatar(40) }}
		        {% endif %}">
    {{ notification.user.pseudo }}
</a>

{{ _("a accepté votre demande d'amitié") }} {{ moment(notification.created_at).fromNow() }}
