{% extends 'layouts/base.html' %}

{% block content %}

  <div class="row">
    <div class="col-md-6 mx-auto">

      <h1 class="mt-5 mb-3 text-center">Reset your password</h1>

      
      <form data-parsley-validate method="post" novalidate>
        {{ form.hidden_tag() }}

        <div class="mb-3">
          {{ form.password.label(class='form-label') }}
          {{ form.password(class='form-control') }}
        </div>

        <div class="mb-3">
          {{ form.confirmPassword.label(class='form-label') }}
          {{ form.confirmPassword(class='form-control') }}
        </div>
        
        <div class="d-grid gap-2 col-6 mx-auto">
          <input type="submit" class="btn btn-outline-primary" value="{{ _('Réinitialisez le mot de passe') }}">
        </div>
      </form>
    </div>
    
  </div>

{% endblock %}

{% block custom_script %}

  {# Parsley Js #}
    <script src="{{ url_for('static', filename='libraries/parsley/parsley.min.js') }}"></script>
    <script src="{{ url_for('static', filename='libraries/parsley/i18n/' ~ g.locale ~ '.js') }}"></script>

{% endblock %}